Paquets necessaires :
-Streamlit(pour l'interface graphique)
-PyVis(pour la visualisation du graphe)

pip install streamlit pyvis

##############
Run (dans le dossier du projet):
streamlit run main.py
